
node_modules/
vuepress-hope/.vuepress/.cache/
vuepress-hope/.vuepress/.temp/
# dist 目录不加入 git，使用 EdgeOne CLI 直接上传
vuepress-hope/.vuepress/dist/
vuepress-reco

test/
.DS_Store
docs/**
.serena/**
# Tencent Cloud EdgeOne
.env
.edgeone/*
.tef_dist/*
  