// place your custom styles here
.vp-sidebar {
    width: 20rem;
    padding-left: 0.3rem;
    .vp-sidebar-links li{
        font-size: 18px;
    }
}

.vp-page {
    padding: 300px 0px;
}

.vp-nav-links {
    font-size: 16px;
    .vp-nav-item {
        margin-right: 15px;
    }
}

.vp-toc-placeholder {
    right: 20px;
}