// you can change colors here
// navbar
$navbar-height: 3.5rem;
$navbar-padding-x: 1.5rem !default;
$navbar-padding-y: 0.7rem !default;
$navbar-mobile-height: 3.25rem !default;
$navbar-mobile-padding-x: 1rem !default;
$navbar-mobile-padding-y: 0.5rem !default;

// sidebar
$sidebar-width: 18rem ;
$sidebar-mobile-width: 16rem !default;

$content-width: 850px ;
$wide-content-width: 980px ;
$home-page-width: 1160px;


// font
$vp-font: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$vp-font-heading: $vp-font ;
$vp-font-mono: 'ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace' !default;